<h2 class="text-muted">
	Admin ID <%= @administrator.id %>
</h2>

<h1>
	<%= @administrator.name %>
</h1>

<h2 class="text-muted">
	<%= @administrator.email %>
</h2>

<h3>
	Designation level <%= @administrator.designation %>
</h3>
