<h2>List of all Administrators</h2>

<table class="table">

	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Email</th>
		<th>Designation level</th>
	</tr>

<% @administrators.each do |administrator| %>

<tr>

	<td><%= administrator.id %></td>
	<td><%= administrator.name %></td>
	<td><%= administrator.email %></td>
	<td><%= administrator.designation %></td>

</tr>

<% end %>

</table>